{% extends './base.html' %}

{% block title %}Registration Page - Blog Example{% endblock %}

{% block body %}
    <main class="container pt-4 pb-4">
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
        {% endfor %}
      {% endwith %}
      <form method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button class="btn btn-primary">Sign in</button>
      </form>
    </main>
{% endblock%}
